// Landing View
.landing-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.path-card {
  padding: 15px;
}

.path-title {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.path-description {
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 1.4;
}
