.display-panel {
    .coordinate {
        position: relative;
        padding: 5px 0;
        text-align: center;
        width: 10%;

        .axis {
            font-size: 24px;
        }
    }
    .position-heading {
        padding: 4px 2px;
        text-align: center;
        vertical-align: bottom;
        white-space: normal;
        line-height: 1.2;
    }

    .machine-position,
    .work-position {
        position: relative;
        white-space: nowrap;
        padding: 0;
        width: 40%;
    }

    .action {
        width: 10%;
        padding: 0;
        text-align: center;

        button.action-dropdown {
            min-width: auto;
            border-radius: 0;

            > * {
                color: var(--tonic-colors-text-secondary);
            }

            &:disabled:hover {
                background-color: inherit;
                > * {
                    color: var(--tonic-colors-text-secondary);
                }
            }
            &:hover {
                background-color: var(--tonic-colors-actions-hovered);
                > * {
                    color: var(--tonic-colors-text-primary);
                }
            }
        }
    }
}
