.keypad {
    button.btn-keypad {
        font-size: 16px;
        padding: 0;
        width: 100%;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        box-shadow: var(--tonic-shadows-low-main);

        &:active,
        &.active {
            box-shadow: var(--tonic-shadows-low-main);
            transform: translate(1px, 1px);
        }

        :global {
            i.fa,
            span.fa {
                color: var(--tonic-colors-text-primary);
            }
        }

        &.highlight {
            background-color: var(--tonic-colors-actions-hovered);
            background-image: none;
            box-shadow: var(--tonic-shadows-low-main);
            border-color: var(--tonic-colors-border-secondary);

            &:hover,
            &.hover {
                background-color: var(--tonic-colors-actions-hovered);
            }

            &:active,
            &.active {
                box-shadow: var(--tonic-shadows-low-main);
                transform: translate(1px, 1px);
            }
        }
    }
}
