@import "../../styles/variables";

@media (max-width: 900px) {
    .panel-action-label {
        display: none;
    }
}

.workspace {
    .dropzone-overlay {
        position: fixed;
        top: $navbar-height;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: var(--tonic-colors-actions-hovered);
        border: 4px dashed var(--tonic-colors-border-secondary);
        text-align: center;
        pointer-events: none;

        .text-block {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--tonic-colors-text-secondary);
            font-size: 32px;
        }
    }

}
