.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.no-data {
    color: var(--tonic-colors-text-primary);
    opacity: .65;
}

.text-ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.well {
    min-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--tonic-colors-background-high);
    border: 1px solid var(--tonic-colors-border-secondary);
    border-radius: 3px;
    box-shadow: var(--tonic-shadows-low-main);
    margin-bottom: 0;
    padding: 0 5px;
}
